/*-------------------------
         GENERAL
-------------------------*/

body {
  background-color: #ffffff;
  line-height: 1.5;
}

.section {
  background-color: #ffffff;
}


.full-screen {
  height: 100vh;
}
.hiddennMsg{
  display:none;
}

.errorMsg{
  display:block;
  color : red;
}
.successMsg{
  display:block;
  color : green;
}
a:hover {
  text-decoration: none;
}

a,
button {
  outline: none !important;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.display-content {
  vertical-align: middle;
  display: table-cell;
  padding: 15rem 0;
}

.center-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*-------------------------
          Fixed
-------------------------*/

header {
  padding: 50px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 1030;
  top: 0;
}

/*-------------------------
          PP Nav
-------------------------*/

/* #pp-nav li { */
/* margin: 10px 8px; */
/* width: 28px; */
/* } */

#pp-nav li span {
  width: 5px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(179, 179, 179, 1) !important;
  border: none;
  top: 5px;
}

#pp-nav li .pp-tooltip {
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3s ease;
  transform: translateY(-3px);
  padding-right: 1rem;
  color: #3c3c3c;
}

#pp-nav li .active span {
  background-color: rgb(35, 82, 124) !important;
  /* transform: translateX(-10px); */
  /* width: 36px; */
}

#pp-nav li .active ~ .pp-tooltip {
  padding-right: 1.5rem;
}

#pp-nav.right {
  right: 2rem;
}

/*-------------------------
        PRELOADER
-------------------------*/

#overlayer {
  position: fixed;
  z-index: 9999;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .loader {
  position: fixed;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 99999;
  border: 4px solid #e3e5d2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*-------------------------
          HERO
-------------------------*/

.hero {
  overflow-x: hidden !important;
}

.hero .personal-item h1 {
  font-size: 2rem !important;
}

.hero .hero-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  right: 0;
}

.hero .hero-content p {
  max-width: 500px;
}

/*-------------------------
     OVERLAY MENU
-------------------------*/

.overlay-menu {
  background-color: #222;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease;
  z-index: 1030;
  opacity: 0;
  visibility: hidden;
}

.overlay-menu .overlay-menu-list {
  width: 100%;
}

.overlay-menu .overlay-menu-list .overlay-nav > ul {
  width: 50%;
  float: left;
}

.overlay-menu .overlay-menu-list .overlay-nav a,
.overlay-menu .overlay-menu-list .overlay-nav span,
.overlay-menu .overlay-menu-list .overlay-nav p {
  color: #fafafa;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0.75rem;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.overlay-menu
  .overlay-menu-list
  .overlay-nav
  .contact-info
  li:first-child
  span {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.overlay-menu .overlay-menu-list .overlay-nav .contact-info li span i {
  font-size: 18px;
  position: relative;
  top: 2px;
}

.overlay-menu .overlay-menu-list .overlay-nav .contact-info .socails li i {
  font-size: 20px;
  font-weight: 400;
}

.overlay-menu .overlay-menu-list .list-group-item {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent !important;
  text-transform: uppercase;
}

.overlay-menu.show {
  opacity: 1;
  visibility: visible;
  cursor: url(../img/cursor-white.png), auto;
}

.pilling-page .overlay-menu .overlay-menu-list .list-group-item {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent !important;
  text-transform: uppercase;
}

.overlay-menu-toggler {
  position: absolute;
  top: 35px;
  padding: 10px;
  right: 80px;
  z-index: 1029;
  color: #000;
  border: none;
  border-radius: 55px;
  transition: 2s;

  background: linear-gradient(to right, #8a8a8a 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s;
}

.rightClass{
  right : 170px !important;
}

.overlay-menu-toggler:hover {
  background-position: left bottom;
  color: #fff;
}

.overlay-menu-toggler.move {
  opacity: 0;
}

/*-------------------------
           My Css
-------------------------*/

.loader-cent {
  display: flex !important;
}

#loader {
  /* position: fixed; */
  margin: auto;
  white-space: pre;
  line-height: 1.2;
  position: fixed;
  /*top: calc(15%);*/
  left: calc(25%);
}

span.loading-text {
  font-size: 100px;
  white-space: pre;
}

p.loading-text {
  font-size: 100px;
  font-weight: bolder;
  white-space: pre;
}

.sthaw {
  margin-left: 30%;
  font-size: 50px;
}

.logo-color {
  text-decoration: none;
  line-height: 1;
  text-align: left;
  color: #000;
  font-weight: 900;
  font-size: 30px;
  transition: 2s;
  background-color: #fff;
  padding: 30px 15px;
  border-radius: 50px;
  margin-top: 5px;
}

.logo-color:hover {
  text-decoration: none;
  color: #777777;
}

.btn.get_started {
  color: #000;
  padding: 15px 30px;
  border: none;
  border-radius: 55px;
  transition: 2s;

  background: linear-gradient(to right, #8a8a8a 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s;
}
.btn.get_started:hover {
  background-position: left bottom;
  color: #fff;
}

.pp-tooltip {
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  color: #ffffff !important;
  background-color: grey;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
}

.pp-tooltip.right {
  right: 20px;
}

.pp-tooltip.left {
  left: 20px;
}

.go-down {
  position: fixed;
  bottom: 5%;
  left: 50%;
  z-index: 9999;
  color: black;
  font-size: 26px;
  cursor: pointer;
  transition: 3s;
}

.go-down {
  animation: bounce 3s infinite;
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
}

.tiempos {
  font-family: "Tiempos Headline", serif;
  font-weight: normal;
  color: #000;
}

.montserrat {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 300 !important;
  color: #000;
}

.montserrat1 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: #000;
}

.section-black {
  background-color: rgb(17, 17, 17) !important;
}

.section-black .tiempos {
  font-family: "Tiempos Headline", serif;
  font-weight: normal;
  color: #fff;
}

.section-black .montserrat {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 300 !important;
  color: #fff;
}

.border-small:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 4%;
  /*margin-left: 11rem;*/
  border-bottom: 2px solid black;
  margin: -15px 0px;
  transition: 2s;
}

.section-black .border-small:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 4%;
  /*margin-left: 11rem;*/
  border-bottom: 2px solid #fff;
  margin: -15px 0px;
  transition: 2s;
}

.font-40 {
  font-size: 40px;
}

.font-45 {
  font-size: 45px;
}

.font-90 {
  font-size: 90px;
}

.play-btn:hover {
  box-shadow: 0px 0px 10px 0px rgb(48, 124, 138);
  background-color: transparent;
  color: #000;
}
.play-btn {
  font-family: inherit;
  font-size: 15px;
  background-color: transparent;
  color: #000;
  border-radius: 50px;
  padding: 7px 20px 7px 20px;
  border: #000 2px solid;
  font-weight: 500;
}

.section-black .play-btn:hover {
  box-shadow: 0px 0px 10px 0px rgb(48, 124, 138);
  background-color: transparent;
  color: #fff;
}
.section-black .play-btn {
  font-family: inherit;
  font-size: 15px;
  background-color: transparent;
  color: #fff;
  border-radius: 50px;
  padding: 7px 20px 7px 20px;
  border: #fff 2px solid;
  font-weight: 500;
}

/*-------------------------
           FORM
-------------------------*/
.default-bt {
  font-family: inherit;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 8px 20px 8px 20px;
  font-weight: 500;
  float: right;
}
.default-bt:hover {
  box-shadow: 0px 0px 25px 0px rgb(255, 255, 255);
}

.floating-label-group {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
.floating-label {
  font-size: 17px;
  background-color: transparent;
  color: #fff;
  position: absolute;
  pointer-events: none;
  top: 9px;
  left: 12px;
  transition: all 0.1s ease;
}

input:focus,
input:focus:valid {
  background-color: transparent;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: -15px;
  bottom: 0px;
  left: 0px;
  font-size: 17px;
  opacity: 1;
  color: #fff;
  background-color: transparent;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent !important;
}

.form-control {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #fff;
  box-shadow: none;
  background-color: transparent;
}
.form-control:focus {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}

/*-------------------------
           MEDIA
-------------------------*/

@media (min-width: 1200px) {
  .pilling-page .container {
    max-width: 1050px;
  }
}

@media (max-width: 1250px) {
  #loader {
    /* position: fixed; */
    margin: auto;
    white-space: pre;
    line-height: 1.2;
    position: fixed;
    top: calc(2%);
    left: calc(15%);
  }
}

@media (max-width: 1199px) {
  .section {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

@media (max-width: 992px) {
  #loader {
    /* position: fixed; */
    margin: auto;
    white-space: pre;
    line-height: 1.2;
    position: fixed;
    top: calc(20%);
    left: calc(20%);
  }
  span.loading-text {
    font-size: 60px;
    white-space: pre;
  }

  p.loading-text {
    font-size: 60px;
    font-weight: bolder;
    white-space: pre;
  }

  .sthaw {
    margin-left: 36%;
    font-size: 40px;
  }
  .font-90 {
    font-size: 67px;
  }
  .display-content {
    padding: 17rem 0;
  }
  .rp-img {
    padding-top: 10%;
    max-height: 380px;
  }
  
  #pp-nav.right {
    right: 0.5rem;
  }
}

@media (max-width: 767px) {
  #loader {
    /* position: fixed; */
    margin: auto;
    white-space: pre;
    line-height: 1.2;
    position: fixed;
    top: calc(20%);
    left: calc(20%);
  }
  span.loading-text {
    font-size: 50px;
    white-space: pre;
  }

  p.loading-text {
    font-size: 50px;
    font-weight: bolder;
    white-space: pre;
  }

  .sthaw {
    margin-left: 40%;
    font-size: 30px;
  }
  .overlay-menu .overlay-menu-list .overlay-nav a,
  .overlay-menu .overlay-menu-list .overlay-nav span,
  .overlay-menu .overlay-menu-list .overlay-nav p {
    font-size: 12px;
    padding: 0.5rem;
  }
  .section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
  }
  header {
    padding: 50px;
  }
  .display-content {
    padding: 15rem 0;
  }
  .font-90 {
    font-size: 30px;
  }
  .montserrat {
    font-size: 16px;
  }
  .section-black .montserrat {
    font-size: 14px;
    text-align : justify;
    padding-right: 3%;
  }
  .font-40 {
    font-size: 30px;
  }
  .rp-img {
    padding-top: 10%;
  }
}

@media (max-width: 575px) {
  #loader {
    /* position: fixed; */
    margin: auto;
    white-space: pre;
    line-height: 1.2;
    position: fixed;
    top: calc(30%);
   /* left: calc(30%);*/
  }
  span.loading-text {
    font-size: 25px;
    white-space: pre;
  }

  #contactForm{
    margin-top : 12% !important;
  }

  .extraMargin{
    margin-left : 25% !important;
  }

  p.loading-text {
    font-size: 25px;
    font-weight: bolder;
    white-space: pre;
  }

  .sthaw {
    margin-left: 37%;
    font-size: 15px;
  }

  .overlay-menu-toggler {
    right: 15px;
  }

  .rightClass{
    right : 80px !important;
  }
  .overlay-nav a,
  .overlay-nav span,
  .overlay-nav p {
    padding: 0.5rem;
    letter-spacing: 1px;
  }

  .overlay-menu .overlay-menu-list .overlay-nav > ul {
    width: 100%;
    float: none;
    margin-bottom: 2rem;
  }

  .display-table,
  .display-content {
    /* display: block; */
    padding: 6rem 0;
  }

  header {
    padding-left: 15px;
  }

  .rp-img {
    padding-top: 10%;
    max-height: 220px;
}
  
  .font-40 {
    font-size: 25px;
  }
  #pp-nav.right {
    right: 0rem;
  }
}

@media (max-width: 380px) {
  #loader {
    /* position: fixed; */
    margin: auto;
    white-space: pre;
    line-height: 1.2;
    position: fixed;
    top: calc(30%);
    left: calc(20%);
  }
  span.loading-text {
    font-size: 20px;
    white-space: pre;
  }
  .font-40 {
    margin-top : 4% !important;
  }

  #returnMsg{
    margin-top: 4%;
  }
  

  .floating-label-group{
    margin-bottom : 30px;
    margin-top : 30px;

  }

  #contactForm{
    margin-top : 12% !important;
  }

  .logo-color{
    padding: 19px 7px;
    font-size: 22px;
  }

  p.loading-text {
    font-size: 20px;
    font-weight: bolder;
    white-space: pre;
  }

  .sthaw {
    margin-left: 40%;
    font-size: 10px;
  }

  .rp-img {
    padding-top: 10%;
    max-height: 220px;
    
    }

  .font-40 {
    font-size: 17px;
  }

  #pp-nav.right {
    right: -0.7rem;
  }
}
@media (max-width: 346px) {
  .font-90 {
    font-size: 23px;
  }
}

@media (max-height: 575px) {
  #pp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 60%;
    opacity: 1;
  }
  #pp-nav li,
  .pp-slidesNav li {
    height: 45px;
  }
  #pp-nav li span {
    height: 35px;
  }
}
 .img-responsive{
  position: absolute;
     top: 0px; /* Ajustez cette valeur pour définir la position verticale de l'angle */  
}

/* @media only screen and (max-height: 600px) {
  .example {background: red;}
}

@media only screen and (min-height: 600px) {
  .example {background: green;}
}

@media only screen and (min-height: 768px) {
  .example {background: blue;}
} 

@media only screen and (min-height: 992px) {
  .example {background: orange;}
} 

@media only screen and (min-height: 1200px) {
  .example {background: pink;}
} */
